@CHARSET "UTF-8";

body {
	background-color: #14c7f4;
	color: #fafafa;
	font-family: 'Ubuntu', sans-serif;
}

.title {
	font-size: 200px;
	text-align: center;
}

.presentation {
	font-size: 50px;
	text-align: center;
	color: #1d1d1e;
}

.enjoy {
	font-size: 100px;
	text-align: center;
}

.name {
	font-size: 150px;
	text-align: center;
	color: #1d1d1e;
}

#jm,a {
	font-weight: normal;
	color: #1d1d1e;
	text-decoration: underline;
}

noscript {
	transform-origin: right top;
	transform: rotate(-30deg);
	-ms-transform-origin: right top; /* IE 9 */
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform-origin: right top; /* Safari and Chrome */
	-webkit-transform: rotate(-30deg); /* Safari and Chrome */
	-moz-transform-origin: right top; /* Firefox */
	-moz-transform: rotate(-30deg); /* Firefox */
	-o-transform-origin: right top; /* Opera */
	-o-transform: rotate(-30deg); /* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.33 );
	font-size: 100px;
	z-index: -50;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity =   60);
	width: 80%;
	text-align: center;
}