@CHARSET "UTF-8";

body {
	background-color: #fafafa;
	color: #fafafa;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

.title {
	font-size: 200px;
	text-align: center;
}

.presentation {
	font-size: 50px;
	text-align: center;
	color: #1d1d1e;
}

.enjoy {
	font-size: 100px;
	text-align: center;
}

.name {
	font-size: 150px;
	text-align: center;
	color: #1d1d1e;
}

#jm,a {
	font-weight: normal;
	color: #1d1d1e;
	text-decoration: none;
}

noscript {
	transform-origin: right top;
	transform: rotate(-30deg);
	-ms-transform-origin: right top; /* IE 9 */
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform-origin: right top; /* Safari and Chrome */
	-webkit-transform: rotate(-30deg); /* Safari and Chrome */
	-moz-transform-origin: right top; /* Firefox */
	-moz-transform: rotate(-30deg); /* Firefox */
	-o-transform-origin: right top; /* Opera */
	-o-transform: rotate(-30deg); /* Opera */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.33 );
	font-size: 100px;
	z-index: -50;
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	width: 80%;
	text-align: center;
}

.header {
	height: 150px;
	top: -110px;
	box-shadow: 0 0 5px 2px #3ca2ec;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #3ca2ec;
	z-index: 30;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 5px 2px #3ca2ec;
}

.spacer {
	width: 100%;
	height: 50px;
	clear: both;
}

.footer {
	height: 150px;
	bottom: -130px;
	overflow: hidden;
	background-color: #888888;
	box-shadow: 0 0 5px 2px #3ca2ec;
	z-index: 30;
	position: fixed;
	width: 100%;
	overflow: hidden;
}

.header .breadcrumbs{
	
	bottom: 5px;
	position: absolute;
	width: 100%;
}

.header .breadcrumbs ol {
	height: 30px;
	margin: 0;
	background: rgb(250, 250, 250);
	background: rgba(250, 250, 250, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99fafafa,
		endColorstr=#99fafafa );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99fafafa, endColorstr=#99fafafa)";
	z-index: 30;
}

.header .breadcrumbs ol li {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 0 10px 0 26px;
	color: #888888;
	float: left;
	list-style-type: none;
	background: url(../img/arrow_right.png) no-repeat left center;
}

.header .breadcrumbs ol li a {
	color: #1d1d1e;
}

.header .breadcrumbs ol li:FIRST-CHILD {
	color: #1d1d1e;
	background: none;
}

.content {
	height: 1000px;
	text-align: center;
}

nav {
	margin: 0 auto;
	max-width: 1977px
}

nav ul {
	box-shadow: 0 0 5px 2px #3ca2ec;
	background: rgb(60, 162, 236);
	background: rgba(60, 162, 236, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#993ca2ec,
		endColorstr=#993ca2ec );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#993ca2ec, endColorstr=#993ca2ec)";
	height: 50px;
	margin: 0 auto;
}

nav ul li {
	float: left;
	margin: 5px 0;
	height: 40px;
	line-height: 40px;
	background: rgb(136, 136, 136);
	background: rgba(136, 136, 136, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99888888,
		endColorstr=#99888888 );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99888888, endColorstr=#99888888)";
	padding: 0 10px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: #fafafa;
	margin: 0 5px;
}

nav ul li.sitename a {
	font-weight: bolder;
	font-size: 20px;
	color: #fafafa;
	font-size: 20px;
}

nav ul li ul {
	float: left;
	height: auto;
	position: absolute;
	padding: 5px;
	z-index: 31;
}

nav ul li ul li {
	clear: both;
	margin: 0;
}

nav a:HOVER,nav ul li.sitename a:HOVER,nav a.selected,nav ul li.sitename a.selected {
	color: #1d1d1e;
}

.command_console {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fafafa;
	box-shadow: 0 0 2px 1px #888;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 50;
}

.command_console .command_container {
	margin: 3px;
}

.command_console ul.command_container li a img{
	height: 16px;
	width: 16px;
}

ul {
	padding:0;
}

ul li{
	list-style-type: none;
}

.left{
	float: left;
	box-shadow: 0 0 2px 1px #3ca2ec;
	margin: 5px;
}

div.big{
	width: 500px;
	height: 500px;
}

div.medium{
	width: 250px;
	height: 250px;
}

div.small{
	width: 100px;
	height: 100px;
}

div.page{
/* 	width: auto; */
/* 	margin: 0 auto; */
/* 	display: inline-block; */
}