@CHARSET "UTF-8";

.overlay {
	width: 100%;
	height: 100%;
	background-color: #1d1d1e;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
}

.modal {
	border: 1px solid #696;
	width: auto;
	height: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-modal-shadow: #1d1d1e 0px 2px 5px;
	-moz-modal-shadow: #1d1d1e 0px 2px 5px;
	modal-shadow: #1d1d1e 0px 2px 5px;
	background: #fafafa;
	position: absolute;
	z-index: 101;
	padding: 50px;
}

.buttonImage {
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

.button {
	position: absolute;
	z-index: 102;
	display: block;
}